In [26]:
import pandas as pd
import requests

In [ ]:
import re
def get_threads_userpk(username:str):
    headers_for_html_fetching = {
            'Authority': 'www.threads.net',
            'Accept': (
                'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;'
                'q=0.8,application/signed-exchange;v=b3;q=0.7'
            ),
            'Accept-Language': 'en-US,en;q=0.9',
            'Cache-Control': 'no-cache',
            'Content-Type': 'application/x-www-form-urlencoded',
            'Origin': 'https://www.threads.net',
            'Pragma': 'no-cache',
            'Referer': 'https://www.instagram.com',
            'Sec-Fetch-Dest': 'document',
            'Sec-Fetch-Mode': 'navigate',
            'Sec-Fetch-Site': 'cross-site',
            'Sec-Fetch-User': '?1',
            'Upgrade-Insecure-Requests': '1',
            'User-Agent': (
                'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) '
                'AppleWebKit/605.1.15 (KHTML, like Gecko) Version/11.1.2 Safari/605.1.15'
            ),
        }
    cookies = {
            "sessionid": "72501981211%3ATr3bH2DAIDHWD7%3A28%3AAYeZF2dDl0bHX3BHFnw2sEnHGUO1V425uW7jI3Xc7A"
    }
    response = requests.get(
                url=f'https://www.threads.net/@{username}',
                headers=headers_for_html_fetching,
                cookies=cookies
            )
    try:
        if "viewer does not follow private user" in response.text:
            return None
        text = response.text
        user_id_key_value = re.search('"user_id":"(\\d+)",', text).group()
        user_id = re.search('\\d+', user_id_key_value).group()
    except:
        raise Exception()
    return user_id

get_threads_userpk("facelesschem")
# df1["user_threads_userpk"] = None

# for idx, row in df1.iterrows():
#     if pd.isna(row["user_threads_userpk"]):
#         print(idx)
#         if idx == 6:
#             df1.at[idx, "user_threads_userpk"] = 71806174208
#             continue
#         userpk = row["username"]
#         newpk = get_threads_userpk(str(userpk))
#         df1.at[idx, "user_threads_userpk"] = newpk
# df1

Exception:

In [40]:
df1 = pd.read_csv("data_chat_gpt.csv")
users = list(df1["user_pk"].unique())
df1.head(2)

,pk,user_pk,caption,like_count,taken_at,username,user_threads_userpk
0,3559612855620946452,31805920812,I just realized Harry Potter invented ChatGPT,17102,1738558967,aliencoremuzik,63073067781
1,3559406671493740915,61600988355,This is literally all you need to make a milli...,1477,1738534362,wiseadvicetrading,71301727351

In [91]:
df2 = pd.read_csv("followers_ChatGPT.csv").drop_duplicates().dropna().astype(str)
df2 = df2[["user_threads_userpk","username","follower_pk","follower_username"]].drop_duplicates()
df2.columns = ["thread_user_pk", "thread_username", "thread_follower_pk", "thread_follower_username"]
df2

,thread_user_pk,thread_username,thread_follower_pk,thread_follower_username
0,63073067781,aliencoremuzik,70726149166,arts.wh0re
1,63073067781,aliencoremuzik,60882225687,cc.jayyyy
2,63073067781,aliencoremuzik,55386498420,aliquashady999
3,63073067781,aliencoremuzik,70648309318,dsombk
4,63073067781,aliencoremuzik,52232781595,mojito.mike21
...,...,...,...,...
1815,72281960423,readwith.joy,30398802919,flutymaesugarplum
1816,72281960423,readwith.joy,19273321429,cmoebrown87
1817,72281960423,readwith.joy,1790637365,stikk.mori
1818,72281960423,readwith.joy,71410141432,readsmyshteriously
1819,72281960423,readwith.joy,71542295139,jay.jay_reads

In [92]:
df3 = pd.read_csv("ffGPT1.csv").drop_duplicates().dropna().astype(str)
df3 = df3[["thread_user_pk","thread_username", "thread_follower_pk", "thread_follower_username"]]
df3

,thread_user_pk,thread_username,thread_follower_pk,thread_follower_username
0,71347280359.0,arts.wh0re,63475792655.0,charley_horror
1,71347280359.0,arts.wh0re,66859948740.0,jesserodriguez125
2,71347280359.0,arts.wh0re,71324892320.0,officialsrscinema
3,71347280359.0,arts.wh0re,63055652210.0,dylungoliant
4,71347280359.0,arts.wh0re,62863237266.0,horrordarkangel
...,...,...,...,...
11997,70990631477.0,jay.jay_reads,70916013146.0,k_l_choudhary__0026
11998,70990631477.0,jay.jay_reads,63274346073.0,readwithbec_
11999,70990631477.0,jay.jay_reads,71299651914.0,manda.reads.books
12000,70990631477.0,jay.jay_reads,63859471299.0,nina.author
12001,70990631477.0,jay.jay_reads,67272087155.0,realclhawkins

In [95]:
df_final = pd.concat([df2, df3]).drop_duplicates().reset_index(drop=True)
df_final.to_csv("followersCHATGPT.csv",index=False)