In [2]:
import pandas as pd

# post iniziali

In [12]:
df_post = pd.read_csv("data_Artificial_Intelligence.csv").head(30)
df_post.to_csv("reduce/data_Artificial_Intelligence.csv")
user_df_post = df_post["user_pk"].unique()
len(user_df_post)

30

In [40]:
df_post2= pd.read_csv("post_Artificial_Intelligence.csv")

In [41]:
userpost = list(user_df_post)
len(userpost)

30

In [42]:
users = userpost+follower_user

In [44]:
df_post2 = df_post2[df_post2["user_pk"].isin(users)]
df_post2.to_csv("reduce/post_Artificial_Intelligence.csv")

In [16]:
df_post2.shape

(1189, 10)

In [10]:
df_postf= pd.read_csv("followers_Artificial_Intelligence.csv")
df_postf

,Unnamed: 0,user_pk,follower_pk,follower_username,follower_count
0,0,187264532,1451797369,stacidblack,114
1,1,187264532,2384555054,leotw4552,12
2,2,187264532,17096723,homeecmel,772
3,3,187264532,55856570272,handmade_market_ks,114
4,4,187264532,33147008532,l0dservices,241
...,...,...,...,...,...
312422,51739,1132797869,60634756169,h_al3wny,10
312423,51740,1132797869,2390907696,rehabelshenety,22
312424,51741,1132797869,6014094538,lts9082,41
312425,51742,1132797869,34838376,sally.abu_emira,110
312426,51743,1132797869,219242663,jhhaissam,31

In [13]:

df_postf = df_postf[df_postf["user_pk"].isin(user_df_post)]
df_postf.to_csv("reduce/followers_Artificial_Intelligence.csv")

In [24]:
follower_user = list(df_postf["follower_pk"].unique())
len(follower_user)

15571

In [14]:
df1 = pd.read_csv("followers_Artificial_Intelligence.csv")

In [54]:
df1.drop("Unnamed: 0",axis=1,inplace=True)
df1

           user_pk  follower_pk   follower_username  follower_count
0        187264532   1451797369         stacidblack             114
1        187264532   2384555054           leotw4552              12
2        187264532     17096723           homeecmel             772
3        187264532  55856570272  handmade_market_ks             114
4        187264532  33147008532         l0dservices             241
...            ...          ...                 ...             ...
312422  1132797869  60634756169            h_al3wny              10
312423  1132797869   2390907696      rehabelshenety              22
312424  1132797869   6014094538             lts9082              41
312425  1132797869     34838376     sally.abu_emira             110
312426  1132797869    219242663           jhhaissam              31

[312427 rows x 4 columns]

In [5]:
df1 = df1[df1["follower_count"]!=0]
len(df1["user_pk"].unique())

868

In [6]:
df2 = df1.groupby("user_pk")["follower_pk"].apply(list).reset_index()
df2["follower_count"] = df2["follower_pk"].str.len()
df2 = df2.sort_values("follower_count", ascending=False)
# df_nuovo = df2[df2["follower_count"] > 150]
users  = df2["user_pk"][60:80]
len(users)

20

In [7]:
dff = df1[df1["user_pk"].isin(users)]
len(dff["follower_pk"].unique())

23446

In [128]:
dff2 = dff.groupby("user_pk")["follower_pk"].apply(list).reset_index()
dff2["follower_count"] = dff2["follower_pk"].str.len()
dff2["follower_count"].sum()

161022

In [34]:
dfdati = pd.read_csv("data_Artificial_Intelligence.csv").drop_duplicates()
dfdati

,pk,user_pk,caption,like_count,taken_at
0,3555273435077793954,187264532,My son has a good point.\r\nWhy are we calling...,107,1738041642
1,3505685618218888600,39643192594,I'm a data scientist with (almost) 4 years of ...,1018,1732130313
2,3549657636672820072,3312160968,Unto the next ‚öúÔ∏èüöÄ\r\n\r\nMSc. Artificial Intel...,1474,1737372186
3,3501933029318498859,623659295,I‚Äôm tryna be Ms. 4 degrees!\r\n\r\nBS In Manag...,1203,1731682970
4,3485889418840696337,6018955246,"I‚Äôm not AI, artificial intelligence.\r\nMy rea...",1396,1729770422
...,...,...,...,...,...
1347,3496625461751951430,1310009120,"""Words"" cannot prove the truth\r\n\r\nBecause ...",1561,1731050258
1348,3551325621272019983,65788500587,What is the first thing you do?\r\nIf I (Elon ...,508,1737571026
1349,3554036985625270589,1603271993,Glad to help dolphins asking for help ai gener...,19246,1737894247
1350,3475106775424524412,1905741597,This isn‚Äôt Grok. \r\n\r\nThis isn‚Äôt artificial...,912,1728485031
1351,3543070812064669160,1132797869,ÿßŸÑÿ∞ŸÉÿßÿ° ÿßŸÑÿßÿµÿ∑ŸÜÿßÿπŸä Ÿäÿ™ÿ∑Ÿàÿ± ÿ®ÿ¥ŸÉŸÑ ŸÖÿ™ÿ≥ÿßÿ±ÿπ ŸàŸÖÿ±ÿπÿ® \r\n\...,1358,1736586986

In [36]:
dfdati[dfdati["user_pk"].isin(list(users))]

,pk,user_pk,caption,like_count,taken_at
0,3555273435077793954,187264532,My son has a good point.\r\nWhy are we calling...,107,1738041642
2,3549657636672820072,3312160968,Unto the next ‚öúÔ∏èüöÄ\r\n\r\nMSc. Artificial Intel...,1474,1737372186
3,3501933029318498859,623659295,I‚Äôm tryna be Ms. 4 degrees!\r\n\r\nBS In Manag...,1203,1731682970
4,3485889418840696337,6018955246,"I‚Äôm not AI, artificial intelligence.\r\nMy rea...",1396,1729770422
5,3551894091232159864,71440324623,I‚Äôve never used artificial intelligence with a...,433,1737638792
...,...,...,...,...,...
1293,3400089734716372598,558170,Professor Takeuchi Shoji and his team at the U...,960,1719542704
1294,3477270611237986745,1091359,Researchers from Apple have published a paper ...,1533,1728742980
1307,3508189984752805672,3629345432,Americas‚Äôs Got Talent contestant shape-shifts ...,20292,1732428875
1313,3255473374343925603,1687848,"Hello, JournalismThreads friends, after 30 yea...",140,1702302689
1328,3540969202544619461,48141252304,2024 recap c·ªßa m√¨nh~\r\n- 5.0 GPA ·ªü MIT ü´∂\r\n-...,4539,1736336456