In [28]:
import pandas as pd
import requests

In [199]:
headers_for_html_fetching = {
            'Authority': 'www.threads.net',
            'Accept': (
                'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;'
                'q=0.8,application/signed-exchange;v=b3;q=0.7'
            ),
            'Accept-Language': 'en-US,en;q=0.9',
            'Cache-Control': 'no-cache',
            'Content-Type': 'application/x-www-form-urlencoded',
            'Origin': 'https://www.threads.net',
            'Pragma': 'no-cache',
            'Referer': 'https://www.instagram.com',
            'Sec-Fetch-Dest': 'document',
            'Sec-Fetch-Mode': 'navigate',
            'Sec-Fetch-Site': 'cross-site',
            'Sec-Fetch-User': '?1',
            'Upgrade-Insecure-Requests': '1',
            'User-Agent': (
                'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) '
                'AppleWebKit/605.1.15 (KHTML, like Gecko) Version/11.1.2 Safari/605.1.15'
            ),
        }
with open("reduce/session.txt", "r") as f:
    sessionid = f.read()
import re
def get_threads_userpk(username:str):
    cookies = {
            "sessionid": sessionid
    }
    response = requests.get(
                url=f'https://www.threads.net/@{username}',
                headers=headers_for_html_fetching,
                cookies=cookies
            )
    try:
        if "viewer does not follow private user" in response.text:
            return None
        text = response.text
        user_id_key_value = re.search('"user_id":"(\\d+)",', text).group()
        user_id = re.search('\\d+', user_id_key_value).group()
    except:
        raise Exception()
    return user_id

get_threads_userpk("shelli1370")

'63074975810'

## post iniziali

In [54]:
df_init_post = pd.read_csv("reduce/data_Artificial_Intelligence.csv")

,pk,user_pk,caption,like_count,taken_at,username,thread_user_pk
0,3555273435077793954,187264532,My son has a good point.\r\nWhy are we calling...,107,1738041642,mlssfshn,63310777769
1,3505685618218888600,39643192594,I'm a data scientist with (almost) 4 years of ...,1018,1732130313,codingmermaid.ai,63458931542
2,3549657636672820072,3312160968,Unto the next ‚öúÔ∏èüöÄ\r\n\r\nMSc. Artificial Intel...,1474,1737372186,thisisaltgian,63387940542
3,3501933029318498859,623659295,I‚Äôm tryna be Ms. 4 degrees!\r\n\r\nBS In Manag...,1203,1731682970,thejasminenichelle,70429187510
4,3485889418840696337,6018955246,"I‚Äôm not AI, artificial intelligence.\r\nMy rea...",1396,1729770422,aimadonna.art,63071917563
5,3551894091232159864,71440324623,I‚Äôve never used artificial intelligence with a...,433,1737638792,jamesfahyauthor_real,71452042928
6,3555642563616637731,1175659953,This beautiful fr,4130,1738085704,blessedayo01,69733929461
7,3517850990194056998,37065216050,Anyone else confused about why we‚Äôre investing...,542,1733580539,heyitskimberlyn_,63086999261
8,3434661097871954663,295418393,Celebrity catwalk created by artificial intell...,5543,1723663728,gilbert_amatta,63400205749
9,3459669401886148047,273811002,"Ah, scopro che anche quest'anno sono nella ""To...",1320,1726644753,tomasset,63895458747
10,3554691190785886135,45697224377,Actual screenshot of Deepseek source code Arti...,159,1737972233,david.webdev,63258389448
11,3508746917691366797,241752404,I just started my PhD program in artificial in...,605,1732495249,malcolmlocs,63464138175
12,3555397737176536131,66897403288,"Hello my lovely Fan's out there ‚ù§Ô∏è, What Do Y'...",405,1738056460,elonreevesmusk__01,68109902162
13,3554964901563758885,429303617,"Scientists in China claim AI has crossed a ""re...",152,1738004864,tomwellborn3,63056364516
14,3555413784291793410,5854904084,Artificial Intelligence ka kamaal,315,1738058378,shaileshnarayanku,66854492977
15,3555815431311905518,1624593034,"What is DeepSeek, and why did it cause the mar...",221,1738107221,nytimes,63626552478
16,3554928196087027640,56347813790,The stock market is tanking because China‚Äôs De...,142,1738000486,theartcandee,63159194609
17,3270660930196923222,46153597924,Ecco un corso GRATIS di Harvard introduttivo a...,217,1704113187,datapizza,63293944855
18,3489888358711703129,55388117027,Reality is a FEEDBACK LOOP ü§Ø ArtificialIntelli...,2220,1730250008,krystle.channel,63141700572
19,3392221936372078496,5924884086,‚ÄúArtificial intelligence‚Äù,8547,1718604388,kyroee,63095622792
20,3258980149779166919,483510461,@threads ma un contatto con:\r\n- Startupper\r...,245,1702720730,laura_sposato,63861317177
21,3555815385964482551,3899443192,Artificial intelligence detects breast cancer ...,22819,1738106247,davidattenborough_fans,63077865711
22,3449816164420241116,9649722421,Robots and Artificial intelligence will replac...,6896,1725470163,kamraann_aslam,66378041630
23,3555883343940169130,71646772581,They Did A Very Good Jobü´°ü´°,500,1738114350,doctor_10m,72016031414
24,3501322717545303868,66221415085,"before we work on artificial intelligence, why...",712,1731610215,mayornayr,66411901180
25,3555532182682027971,60749156488,#Repost ÔÄÄlovetrends.ai\r\nDo you like this? ü§îü§©...,1627,1738072489,pessoalaile,66461211257
26,3337429383814287414,60152859688,Electric shoes powered by artificial intellige...,3084,1712072624,theheralddiary,63131814221
27,3143044778199343489,803614222,If the world is working on Artificial Intellig...,516,1688900156,officialarole,63432976554
28,3374431325999508964,381039,"Why did the tech industry veer away from ""ML"" ...",732,1716483582,grork,63050637478
29,3423172653207909068,30855355,"Reminder again that what's being touted as ""ar...",538,1722294001,jscalzi,63291410241

In [27]:
user_df_post = df_init_post["user_pk"].unique()
len(user_df_post)

30

## Followers initial post

In [262]:
df_followers = pd.read_csv("reduce/followers_Artificial_Intelligence.csv")
df_followers

,follower_username,follower_count,thread_user_pk,thread_follower_pk
0,stacidblack,114,67036773813,6.703677e+10
1,homeecmel,772,63465676707,6.346568e+10
2,handmade_market_ks,114,63400405482,6.340041e+10
3,l0dservices,241,69029504312,6.902950e+10
4,viknes_michael,72,66301705775,6.630171e+10
...,...,...,...,...
13252,_daniel_radebe_sa,234,63131814221,6.329164e+10
13253,gonzalez_alejandro56,135,63131814221,6.869377e+10
13254,opticzlenz,118,63131814221,6.349511e+10
13255,gonzalez_alejandro56,136,63131814221,6.869377e+10
13256,mjkwho3,45,63291410241,6.830409e+10

In [269]:
df1 = df_followers[["thread_user_pk", "thread_follower_pk"]]
df1

       thread_user_pk  thread_follower_pk
0         67036773813        6.703677e+10
1         63465676707        6.346568e+10
2         63400405482        6.340041e+10
3         69029504312        6.902950e+10
4         66301705775        6.630171e+10
...               ...                 ...
13252     63131814221        6.329164e+10
13253     63131814221        6.869377e+10
13254     63131814221        6.349511e+10
13255     63131814221        6.869377e+10
13256     63291410241        6.830409e+10

[13257 rows x 2 columns]

## Followers follower

In [301]:
import pandas as pd

dff = pd.read_csv("reduce/followerAI.csv")
dff = dff.astype({
    "thread_user_pk": str,
    "thread_follower_pk": str
})
dff

       thread_user_pk thread_follower_pk
0       67036773813.0      67036773813.0
1       63465676707.0      63465676707.0
2       63400405482.0      63400405482.0
3       69029504312.0      69029504312.0
4       66301705775.0      66301705775.0
...               ...                ...
960409  71610665312.0      71114803294.0
960410  71610665312.0      63272623614.0
960411  71610665312.0      69648092664.0
960412  71610665312.0      63300802261.0
960413  71610665312.0      66655524530.0

[960414 rows x 2 columns]

In [303]:
dff = dff[dff["thread_user_pk"] != dff["thread_follower_pk"]]

In [317]:
userpk = dff["thread_user_pk"].tolist()
filtered_dff = dff[dff["thread_follower_pk"].isin(userpk)]
filtered_dff.to_csv("test.csv",index=False)

In [318]:
filtered_dff

       thread_user_pk thread_follower_pk
192     63310777769.0      64089537281.0
497     63387940542.0      69655371289.0
498     63387940542.0      63133269390.0
500     63387940542.0      63229244703.0
501     63387940542.0      63421342632.0
...               ...                ...
958502  68806461979.0      66340732338.0
958789  63492601888.0      63159950352.0
958976  68790995982.0      63933061128.0
959652  70133197678.0      65769316249.0
959762  64147865290.0      63262926322.0

[22187 rows x 2 columns]